*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  --btn-color: #1573ef;
  --btn-color-secondary: #0b19b8;
  --bg: url(./images/bg2.jpg);
  --nav__bg : linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(21,115,239,1) 100%);
  --box__shadow: box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

body{
  background-image: var(--bg);
  background-repeat: repeat;
  background-size: cover;
}

/* GLOBAL CLASSES */
.primary__btn{
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--btn-color);
  border-radius: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: 350ms ease-in-out;
}

.primary__btn:hover{
  background-color: var(--btn-color-secondary);
}

.nav__list{
  height: 120px;
  width: 100%;

  box-shadow: var(--box__shadow);

  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: white;

  border-bottom: 2px solid var(--btn-color);
}

.nav__item{
  margin-left: 40px;
}

.nav__link{
  text-decoration: none;
  color: black;
  padding: 7px 13px;
}

.nav__link:active{
  color: var(--btn-color);
}

.nav__link:hover{
  border-bottom: 2px solid var(--btn-color);
}

.title__link{
  text-decoration: none;
  color: var(--btn-color);
  font-weight: bolder;
  font-size: 30px;
}

/* TETELEK PAGE */
.tetelek__navbar{
  height: 800px;
  width: 700px;
  background-color: white;
  margin: 35px auto;

  list-style-type: none;

  display: flex;
  flex-direction: column;

  border: 2px solid var(--btn-color);
  border-radius: 5px;

  box-shadow: var(--box__shadow);
}

.tetel___list__item{
  margin-left: 25px;
  margin-top: 30px;
}

.tetel__link{
  text-decoration: none;
  color: black;

  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.tetel__link::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--btn-color);
  transition: width 350ms ease-in-out;
}

.tetel__link:hover::before{
  width: 100%;
}

.tetelek__title__span{
  height: 50px;
  width: 700px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
} 

.tetelek__title{
  text-align: center;
}

.tetelek__back__btn{
  position: relative;
  top: 0;
  left: -240px;
} 